DB_HOST=mariadb
DB_USER=kumoko_user
DB_PASSWORD=sua_senha_aqui_em_producao
DB_NAME=kumoko_db
DB_PORT=3306

JWT_SECRET=coloque_uma_chave_alfanumerica_longa_e_segura_aqui
PORT=3000

VITE_API_URL=https://kumokoscan.local/api